.main-layout {
  margin-left: 250px;  
  width: calc(100% - 250px);

  min-height: 100vh;
  padding: 40px;

  background: #0b1120; /* Single clean background */
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
