*{
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    height: 75px;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    padding-right: 20px;
}

.left{
    padding-left: 10px;
}